.dialog-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 400px;
    padding-top: 10px;
}

.full-width {
    width: 100%;
}

.row {
    display: flex;
    gap: 16px;
}

.row mat-form-field {
    flex: 1;
}